[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
genshinhelper = "==2.0.4"
onepush = "==1.1.1"
schedule = "*"
nest-asyncio = "*"
genshin = "==1.2.1"
aiohttp = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.8"
