[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
genshinhelper = "*"
onepush = "*"
schedule = "*"
nest-asyncio = "*"
genshin = {editable = true, ref = "0.4", git = "https://github.com/thesadru/genshin.py"}
aiohttp = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.8"
