[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
genshinhelper = "*"
onepush = "*"
schedule = "*"
nest-asyncio = "*"
genshin = "*"
aiohttp = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.8"
